# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db
desktop.ini

# Editors / IDE
.vscode/
.idea/
*.sublime-*
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies (на случай, если позже добавится сборка)
node_modules/
dist/
.cache/

# Env
.env
.env.local
